

window {
    font-family: "JetBrainsMono Nerd Font Mono", monospace;
    font-size: 16pt;
    font-weight: bold;
    background-color: rgba(10, 10, 10, 0.95);
}


grid {
    background-color: transparent;
}

button {
    
    background-color: black;
    color: #33ff33; 
    border: 2px solid #33ff33; 
    
    margin: 10px;
    border-radius: 0px; 
    box-shadow: none;
    
    background-image: none !important; 
}


button:hover {
    background-color: #33ff33;
    color: black;
    border-color: #33ff33;
}


button:focus {
    background-color: #33ff33;
    color: black;
}
